**
!requirements.txt
!main.py
!DTOs/
!DTOs/*.py
!services/
!services/Infos/
!services/Infos/**
!services/Predict/
!services/Predict/model/
!services/Predict/model/best_model.pkl
!services/Predict/data/
!services/Predict/data/Data_Lake*.xlsx
!services/ComputerVision/
!services/ComputerVision/runs/
!services/ComputerVision/runs/detect/
!services/ComputerVision/runs/detect/train/
!services/ComputerVision/runs/detect/train/weights/
!services/ComputerVision/runs/detect/train/weights/best.pt
**/__pycache__/
**/*.pyc
