fastapi[standard]
uvicorn[standard]
opencv-python==4.14.0.94
python-multipart
pillow

ultralytics

torch
torchvision

xgboost == 3.4.1
catboost == 1.2.10
scikit-learn == 1.6.1
joblib == 1.5.3


pandas
numpy

